@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

:root{
    --ff-boldest: 'Gilroy-Heavy', sans-serif;
    --ff-bold: 'Gilroy-Bold', sans-serif;
    --ff-medium: 'Gilroy-Medium', sans-serif;
    --ff-regular: 'Gilroy-Regular', sans-serif;
    --ff-lightest: 'Gilroy-Light', sans-serif;
    --ff-semi-bold: 'Gilroy-SemiBold', sans-serif;
    --color-primary-blue: #0065FE;
    --color-primary-black: #141414;
    --color-primary-white: #FFF;
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
}

*,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.container{
    font-family: var(--ff-medium);
    min-height: 100vh;
    overflow-x: hidden;
}


.header-container{
    margin: 0 auto;
    display: flex;
    height: 50px;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    justify-content: space-between;
    margin-top: 0.75rem;
}

.logo-container{
    height: 40px;
    z-index: 2;
}

.logo-container img{
    height: 30px;
    cursor: pointer;
    transition: transform ease-in-out 0.5s;
} 

.logo-container img:hover{
    transform: scale(1.025);
}

.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    display: none;
}

nav ul{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;  
}

nav ul li{
    list-style: none;
    padding: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: var(--color-primary-black);
    font-family: var(--ff-medium);
}

.login-container-inside{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-around;
    align-items: center;   
}

.login-container-outside{
    display: none;
}

button{
    padding: 10px 24px;
    font-size: 1rem;
    cursor: pointer;
    font-family: var(--ff-semi-bold);
}

.login-container-outside .login{
    padding: 10px 24px 10px 0px;
    border-radius: 0;
}

.login:hover{
    color: var(--color-primary-black);
}

.borderless-button{
    color: var(--color-primary-blue);
    border-radius: 50px;
    border: 1px solid var(--color-primary-white);
    background: none;
    transition: border 0.5s ease-in-out, color 0.5s ease-in-out;
}

.login{
    color: var(--color-primary-blue);
    background: none;
    border: none;    
    transition: color 0.5s ease-in-out;
}

.learn-more:hover{
    color: var(--color-primary-black);
    border-radius: 50px;
    border: 1px solid var(--color-primary-blue);
}

.bordered-button{
    border-radius: 50px;
    border: 1px solid var(--color-primary-blue);
    box-shadow: 0px 0px 1px black;
    background-color: var(--color-primary-blue);
    color: var(--color-primary-white);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.bordered-button:hover{
    color: var(--color-primary-blue);
    background-color: var(--color-primary-white);
    border: 1px solid var(--color-primary-blue);
}

.h1-url-shortening{
    color: var(--color-primary-blue);
}

.landing{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.upper-section-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.upper-section-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.upper-section-buttons button{
    max-width: 250px;
}


.upper-section-buttons .sign-up{
    padding: 10px 35px;
}

.upper-section-write-up{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.upper-section-write-up h1{
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
}

.upper-section-write-up p{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.blue-strike-container{
    margin-top: -0.35rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    margin-left: 10px;
}

.blue-strike{
    width: 110px;
}

.blue-strike img{
    width: 100%;
}

.lower-section-content{
    min-height: 40vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 4rem;
}

.lower-section-outer-border{
    position: relative;
}

.blob{
    position: absolute;
    left: 9%;

    img{
        width: 90%;
    }
}

.lower-section-outer-border{
    width: 100%;
    height: 200px;
    float: right;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.lower-section-inner-border{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 0;
    z-index: 2;
    border-radius: 24px;
    border: 0.5px solid var(--primary-400, #005AE2);
    background: rgba(254, 254, 254, 0.10);
    backdrop-filter: blur(106px);
    width: 91%;
}

.link-container{
    display: flex;
    align-items: center;
    z-index: 2;
    justify-content: center;
}

.link-container img{
    height: 45px;
    margin-right: -3.5px;
}

.link-container img.arrow{
    width: auto;
    height: 7.5px;
    margin: 0 15px;
}

.paragraph-below-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}

.paragraph-below-link p{
    font-size: 1rem;
    text-align: center;  
    line-height: 1.5;  
}

.paragraph-below-link .shareable-links{
    font-family: var(--ff-bold);
}

.lower-section-content-shadow{
    background-color: var(--color-primary-white);
    border-radius: 50%;
    width: 100%;
    height: 35px;
    margin-top: 75px;
    background: linear-gradient(180deg, rgba(226, 233, 240, 0.70) 10.68%, rgba(220, 228, 235, 0.70) 44.01%, rgba(226, 233, 240, 0.00) 100%);
    box-shadow: 0px 4px 2px 0px rgba(18, 36, 89, 0.35);
    z-index: 2;
}

.skewed-section{
    height: 100px;
    width: 100%;
    margin-top: -50px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;  
    justify-content: center;  
}

.skewed{
    margin-left: 7%;
    margin-right: 7%;
    height: 60px;
    width: 100%;
    background-color: rgba(226, 233, 240, 0.30);
    transform: perspective(100px) rotateX(30deg);
}

.mobile-menu{
    height: 40px;
    width: 40px;
    position: relative;  
    z-index: 4; 
}

input[type="checkbox"]{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 40px;
    height: 40px;
    visibility: hidden;
}

#menu-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-primary-blue);
    background-image: url('/imgs/menu.png');
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center center;
    cursor: pointer;
}

@media only screen and (min-width: 500px){
    .upper-section-buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin-top: 2.5rem;
    } 

}

@media only screen and (min-width: 845px){
    .mobile-menu{
        display: none;
    }

    .menu-container{
        display: flex;
    }

    .upper-section-write-up h1{
        font-size: 2.5rem;
        line-height: 4.5rem;
    }

    .upper-section-write-up p{
        line-height: 1.75;
    }

    .lower-section-outer-border{
        width: 80%;
        min-height: 200px;
    }
    
    .link-container{
        display: flex;
        align-items: center;
        margin-left: 50px;
        z-index: 2;
    }
    
    .link-container img{
        height: 55px;
        margin-right: -5px;
    }
   
    .header-container{
        height: inherit;
    }

    .menu-container{
        flex-direction: row;
        position: relative;
        width: auto;
    
        nav {
            ul{
                flex-direction: row;
                height: 45px;
            
                li{
                    list-style: none;
                    padding: 0 10px;
                }
    
                li a{
                    text-decoration: none;
                    color: var(--color-primary-black);
                    display: flex;

                    img{
                        height: 22px;
                        margin-left: 2px;
                    }
                }
            }  
            
            .login-container-inside{
                display: none;
            }
        }      
    }    

    .login-container-outside{
        display: flex;
    }

    .landing{
        width: 70%;
    }

    .upper-section-write-up{
        p{
            width: 80%;
            margin: 0 auto;
            line-height: 1.25rem;

        }
    }

}

@media only screen and (min-width: 890px){
    .header-container{
        width: 90%;
    }
}

@media only screen and (min-width: 1050px){
    .header-container{
        width: 80%;
    }
}
